* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    /* escreva declaracoes aqui */

}

.grid {
    background-color: #abb;
    /* escreva declaracoes aqui */

}

.container2 {
    /* escreva declaracoes aqui */

}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    /* escreva declaracoes aqui */

}

.columns-3 {
    /* escreva declaracoes aqui */

}

.three {
    margin: .25rem;
    background-color: #abd;
}