/* Global resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #222;
  background: #fff;
  margin: 0;
}

nav {
  background-color: steelblue;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
}

h1 {
  color: steelblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

aside {
  width: 20em;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2); /* why use rgba instead of hex here? */
  padding: 1em;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}


