/* Resetar CSS do meu projeto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #222;
  background: #fff;
  margin: 0;
}

nav {
  background-color: steelblue;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
}

h1 {
  color: steelblue;
}

main img {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}

aside {
  width: 20rem;
  color: #333;
  text-align: center;
  position: relative;
}

aside img {
  width: 250px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 70px;
  left: 120px
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

/* Seletores de Classe */

.caixa {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 1em;
  background-color: #eee;
}

.indentacao {
  padding-left: 2rem;
}


