* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: rgb(255, 252, 249);
  display: flex;
  flex-direction: column;
}

header, footer {
  padding: 20px 0;
  text-align: center;
}

main {
  margin: 0 auto;
  flex: 1;
}

form {
  background-color: rgb(218, 218, 218);
  max-width: 600px;
  border: 2px solid #9494948f;
  padding: 30px;
  border-radius: 5px;
  display: grid;
  gap: 5px;
}

input, textarea, select {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 2px solid #9494948f;
}

label {
  font-weight: bold;
  font-style: italic;
}

button {
  background-color: rgb(58, 58, 184);
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(82, 82, 201);
  cursor: pointer;
}

code {
  display: block;
  padding: 10px;
  margin: 0 50px;
  background-color: #1d1d1d;
  color: #fff;
}